*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */

#account_drop::marker{
    content: none;
}

/* JUMBOTRON */

#jumbotron_section{
    background-color: #7550FE;
}

#btn_jumbo_first {
    background-color: #1ACB98 !important;
    border: #1ACB98;
    font-size: 12px;
}


#btn_jumbo_second{
    background-color: white;
    border: white;
    font-size: 12px;
}

#jumbo_text{
    font-size: 19px;
}

/* CAROSELLO */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child,
    .carousel-inner .carousel-item > div:nth-child(2) {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

#arrow_left{
    padding: 12px 15px;
    
}

#arrow_right{
    padding: 12px 15px;
}

.title_carousel{
    text-align: start;
    padding-left: 30px;
}

/* CAROSELLO CARD */

#timing{
    font-size: 14px;
}


#star{
    font-size: 12px;
}

#point_star{
    font-size: 14px;
}

/* ESERCIZIO 2 */

/* Ingrandimento card */

.card{
    transition: all 2s ease-in-out 0.5;
}

.card:hover{
    transform: scale(1.15);
    box-shadow: 2px 2px 6px gray;
    z-index: 2;
}


/* BOOKMARK */

#bookmark_light{
    position: relative;
    
}

#bookmark_solid{
    position: absolute;
    left: 0;
    z-index: 1;
    transition: all 3s ease-in-out 0.5;
    opacity: 0;
}

#bookmark_solid:hover{
    opacity: 1;
}

